
<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">
        <ng-container *ngIf="requestSent; else notSentTitle">
          Thank you!


        </ng-container>
        <ng-template #notSentTitle>
          Forgot your password?
        </ng-template>
        </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="!requestSent; else notSentContent">
          <div class="reset-form"  >
            <p class="paragraph">Please enter the email address you used to create your account, and we’ll send you a link to reset your password.</p>
            <form [formGroup]="form">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" id="email">
                        <mat-error *ngIf="hasError('email', 'pattern')">Invalid email address</mat-error>
                    </mat-form-field>
                </p>
                <button [disabled]="!form.valid" mat-raised-button color="primary" class="submit-btn"(click)="onSubmit()">Send reset link</button>

            </form>

        </div>
        </ng-container>

          <ng-template #notSentContent>
            <div class="paragraph">
              If an account exists for {{form.controls['email'].value}}, you will get an email with instructions on resetting your password. If it doesn't arrive, be sure to check your spam folder.
            </div>
            <div class="login-btn">
              <button mat-button color="primary" routerLink="/auth/login">
                <mat-icon class="material-icons">arrow_left</mat-icon>
                Back to login
              </button>
            </div>
          </ng-template>

      </mat-card-content>
  </mat-card>


</div>
