@import 'card' ;
::ng-deep .model-overview-card {

  background: #e5ebfb;
  margin-left: -3px;
  box-shadow: 1px 0px 3px 1px darkgrey;

  height: 52px;
  margin-top: 9px;
  margin-bottom: 19px;
  .mat-card-header {
    display: block;
    color: darkslategrey;
    margin-left: 21.5px;
    .mat-card-title{
      
        //  margin-top: -8px;
      font-family: "Nunito-Regular";
      font-size: 22px;
      
    color: var(--color-primary);
       }
  }
  .mat-card-header-text{
    margin: 0;
  }
  .mat-card-subtitle {
    margin: 0;
    overflow-y: scroll;
    max-height: 40px;
  }
}

.button-div{
  height: 200px;
}
.action-button{
  width: 300px;
  height: 50px;
  text-transform: uppercase ;
  // letter-spacing: 0.4em;
  font-size: 1.4em;
  // font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .action-button{
    width: 200px;
  }
}
