<div class="container-fluid p-0">
  <div class="row m-0 ">
      <ng-container *ngFor="let image of images; let i = index">
        <div class="col-auto " class="image-div p-2 ">
          <label for="{{image.id}}"><img [src]="image.name" (click)="onSelect(image,i)" /></label>
          <div class="feedback-container" *ngIf="image.is_feedback == false; else elseBlock">
            <a (click)="handleChange(i)"> Add to Feedback</a>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="feedback-container">
            <a (click)="handleChange(i)"> Remove from Feedback</a>
          </div>
        </ng-template>
      </ng-container>
  </div>
  <div class="row">
    <div class="col">
      <mat-paginator class="ml-auto p-2 bd-highlight"
      [length]="imageCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      >
    </mat-paginator>
    </div>
  </div>
</div>
