.product-item {
  max-width: 400px;
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
  }

  .product-image {
    // width: 75%;
    width: 325px;
    height: 250px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    // margin: 2rem 0;
  }
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(335px,1fr));
  row-gap: 8px;
  column-gap: 8px;

}
