<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Change Password
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>vpn_key</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="passwordForm" style="margin-left:8px">
      <p>
          <mat-form-field appearance="outline"  style="width:98%;margin-bottom: auto" >
              <mat-label>Current Password *</mat-label>
              <input class="input" matInput [type]="hide ? 'password' : 'text'" formControlName="old_password" id="old_password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error  *ngIf="passwordForm.controls['old_password'].invalid" >{{getOldPasswordErrorMessage()}} </mat-error>

          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width:98%;margin-bottom:auto;" >
              <mat-label>New Password *</mat-label>
              <input class="input" matInput [type]="hidee ? 'password' : 'text'" formControlName="new_password1" id="new_password1">
              <mat-error  *ngIf="passwordForm.controls['new_password1'].invalid" >{{getNewPassword1ErrorMessage()}} </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline" style="width:98%;margin-bottom: auto;">
              <mat-label>Re enter New Password *</mat-label>
              <input class="input" matInput [type]="hidee ? 'password' : 'text'" formControlName="new_password2" id="new_password2">
              <mat-icon matSuffix (click)="hidee = !hidee">{{hidee ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error  *ngIf="passwordForm.controls['new_password2'].invalid" >{{getNewPassword2ErrorMessage()}} </mat-error>
          </mat-form-field>
      </p>
      <div >
        <button class="button float-right" mat-raised-button color="primary"
          (click)="updatePassword()" [disabled]="!passwordForm.valid">Update Password</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

