@import '_home';


@media only screen and (min-width: 240px) {
  .vid-feature {
    padding: 100px 0 100px 0;
    background: #FFFFFF;
  }

  .vid-cover {
    position: relative;
    overflow: hidden;
    background: #252525;
    border-radius: 6px;
    box-shadow: 0 23px 40px rgb(0 0 0 / 20%);
    z-index: 3;
    margin-top: 60px;
    margin-bottom: 30px;
    .feature-img {
      width: 100%;
      min-height: 420px;
    }
  }


}
