<div class="outer-section">
  <div class="container">
    <div class="row text-center ">
      <div class="offset-sm-2 offset-lg-2 col-sm-8 col-lg-8">
        <h1 class="main-heading">How Xtract works</h1>
        <p class="sub-heading"> Xtract provides a platform to build AI-Assistants in the form of Deep Learning models just by uploading images and
          creating boxes on objects which the AI-assistant needs to learn to identify. These Assistants once ready are
          deployed directly on the platform to serve your needs of detecting objects from unseen new images.</p>
        <div class="vid-cover">
          <img class="feature-img" src="/assets/images/works.gif" alt="">
        </div>
        <!-- <h6><b>Parker</b> does more than just building a landing page, it brings life to it - <span><a href="#">Buy
              now</a></span></h6> -->
      </div>
    </div>
  </div>
</div>
