<div id="features" class="outer-section outer-section-background app-features  text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="main-heading">Where can you find Xtract</h1>
        <p class="sub-heading">Our features are designed to meet the requirements of both beginners and players.
          Get the right feature that suits you.</p>
      </div>

      <div class="col-md-12 col-lg-4 " >
        <img class="img-fluid features-img" src="/assets/images/undraw_the_search_s0xf.svg" alt="App">
      </div>

      <div class="col-md-6 col-lg-4 features-left">
        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/undraw_drone_surveillance_kjjg.svg"  alt="Icon">
          </div>
          <div class="feature-single">
            <h1>DRONE SURVEILLANCE</h1>
            <p>
              Use Xtract Models in drones for aerial inspection.
            </p>
          </div>
        </div>
        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/undraw_factory_dy0a.svg" alt="Icon">
          </div>
          <div class="feature-single">
            <h1>INDUSTRIAL INSPECTION</h1>
            <p>
              Perform Industrial Inspections with Xtract.
            </p>
          </div>
        </div>


        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/2821844.png" alt="Icon">

          </div>
          <div class="feature-single">
            <h1>CONVEYOR BELT MONITORING</h1>
            <p>
              Create Models for monitoring conveyers and automate processes.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 features-left left-2">
        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/undraw_Building_re_xfcm.svg" alt="Icon">
          </div>
          <div class="feature-single">
            <h1>HOME AND OFFICE SECURITY</h1>
            <p>
              Build Face Detection and Recognition Models for Security.
            </p>
          </div>
        </div>
        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/undraw_design_components_9vy6.svg" alt="Icon">
          </div>
          <div class="feature-single">
            <h1>METER AND GAUGE READING</h1>
            <p>
              Build Models to read Meters and Gauges.
            </p>
          </div>
        </div>
        <div class="col-sm-12 " >
          <div class="icon">
            <img src="/assets/images/undraw_window_shopping_b96y.svg" alt="Icon">
          </div>
          <div class="feature-single">
            <h1>APPAREL DEFECT DETECTION</h1>
            <p>
              Build Models to detect defect in Apparels.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
