<div>
  <label>Confidence level: {{confidenceLevel}}</label>
  <mat-slider thumbLabel  min="10" max="100" step="1" [(ngModel)]="confidenceLevel" (change)="updateSetting($event)"></mat-slider>
</div>
<mat-card-actions align="end">
  <button mat-icon-button mat-dialog-close aria-label="close dialog">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="save role" [mat-dialog-close]="confidenceLevel" cdkFocusInitial>
    <mat-icon>check</mat-icon>
  </button>
</mat-card-actions>
