@import 'card' ;
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  // grid-template-rows: 100px;
  grid-gap: 16px;
  border: 1px solid red;

  img {
    width: 120px;
    height: 100px;
    object-fit: cover;
  }
}

mat-card{
  background: #e5ebfb;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  height: 369px;
  width: 528px;

  min-width: 400px;
  mat-card-header{
    .title{
      font-family: "Poppins-SemiBold";
        font-size: 19.3px;
        color: #1f2d7e;
    }

  }
}

@media (max-width: 1538px){
  mat-card{
  width: 377px;

  }
}
// .image-div {
//   width: 140px;
//   height: 120px;

//   img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;

//   }
// }




