<div class="container-md footer">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <ul class="homeFooter-menu">
        <li class="homeFooter-menu-header">Product</li>
        <li><a href="#">About</a></li>
        <li><a href="#">How to use?</a></li>
        <li><span id="siteseal"></span></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul class="homeFooter-menu">
        <li class="homeFooter-menu-header">Case Studies</li>
        <li><a href="#">Smart Meter Reading</a></li>
        <li><a href="#">Drone Surveillance</a></li>
        <li><a href="#">Industrial Inspection</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul class="homeFooter-menu">
        <li class="homeFooter-menu-header">Company</li>
        <li><a href="http://xaltanalytics.com/about-us">About Us</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul class="homeFooter-menu">
        <li class="homeFooter-menu-header">Contact</li>
        <li>Xalt Analytics Pvt. Ltd.
          <br>376-377, Udyog Vihar, Phase 4<br>
          Gurgaon Haryana, INDIA
        </li>
        <li><mat-icon>phone</mat-icon>+91-9302594888</li>
        <li><mat-icon>mail</mat-icon>contact@xtract.in</li>
      </ul>
    </div>
    <div class="col-12">
      <div class="d-flex flex-row align-items-center justify-content-center social-media-contact">

        <a href="https://www.linkedin.com/company/xaltanalytics/"><img src="/assets/images/facebook.svg" /></a>
        <a href="https://www.linkedin.com/company/xaltanalytics/"><img src="/assets/images/instagram.svg" /></a>
        <a href="https://www.linkedin.com/company/xaltanalytics/"><img src="/assets/images/twitter.svg" /></a>
        <a href="https://www.linkedin.com/company/xaltanalytics/"><img src="/assets/images/linkedin.svg" /></a>


      </div>
    </div>
  </div>
</div>
