
input[type="checkbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding-right: 2px;
  padding-left: 2px;
  display: block;
  position: relative;
  // margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  // border-radius: 50%;
  // border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 24px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  border: 1px solid #ddd;
  /* Gray border */
  border-radius: 4px;
  /* Rounded border */
  height: 151px;
  width: 128px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
@media (max-width: 1538px){
  label img{
    width: 132px;
    margin-left: -33px;
  }
}
:checked+label {
  border-color: #ddd;
}

:checked+label:before {
  content: "✓";
  background-color: var(--color-warn);
  transform: scale(1);
  z-index: 999;
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

