


<div   class="section1">
  <div class="container">
    <div class="row">
      <div class="col">

<section style="padding-top:80px;padding-bottom:80px;color:white;">
  <div class="grid-container">
    <div>
      <div>
        <p class="heading">Automate object Xtraction using AI</p>
        <p class="sub-heading">The goal is to turn data into information, and information into insights.
        <!-- <p class="sub-heading">Capture objects from images instantly. Reduce manual effort required.Reduce manual effort required.Reduce manual effort required. -->
        </p>
        <div class="main-section" >
          <button mat-raised-button routerLink="/auth/register" color="accent" style="width:50%" >Get Started For Free</button>
          <!-- <button  mat-raised-button color="accent" >Request A Demo</button> -->
        </div>
      </div>
    </div>
    <div ><img class="feature-img"  src="/assets/images/Artificial Intelligence_Flatline.svg" alt=""></div>
  </div>
</section>
      </div>
    </div>
  </div>
</div>
