mat-form-field {
  width: 100%;
}
.head {
  
  
  margin-left: -3px;
  

  height: 52px;

  width: 154%;
  margin-left: -299px;


  .mat-title {
    display: block;
    color: var(--color-primary);
    margin-left:  714.5px;;
    
    font-family: "Poppins-SemiBold";
    font-size: 22px;
  }
}
