<mat-toolbar style="background-color: #1f2d7e;">
  <span style="font-family: MazzardM-Bold;">
  <span style="font-size: 45px;
    color: var(--color-accent)" routerLink="/">X</span>
    <span routerLink="/" style="font-size: 31.5px;color: white;">tract</span>

  </span>
  <span class="spacer"></span>
  <button routerLink="/auth/login" style="color: white;" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
  </button>
  <button routerLink="/auth/register"  style="color: white;" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Register
  </button>


</mat-toolbar>
