.download-link{
  font-size: 16px;
  text-decoration: none;

}
.content{

  border-width: 36px;
  margin: 0px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: transparent;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 300;
  display: block;
  font-family: "Courier New", monospace;
  overflow: auto;
  background: rgb(233, 239, 252);
  color: rgb(255, 255, 255);

}
.heading{
  font-size:18px;
  font-weight: 500;
  margin: 12px 0px 8px 0px;
}
